.container
  .row
    .span6.offset3
      %p
        You have registered using #{@user.email}.
        = link_to 'change', edit_user_registration_path
      = render 'form'
      = link_to 'change your password', edit_user_registration_path