.well{:style => 'padding:1em 0;'}
  %ul.nav.nav-list
    %li.nav-header Users
    %li
      = link_to users_path do
        %i.icon-book
        Browse Users
    %li.nav-header Resources
    %li
      = link_to articles_path do
        %i.icon-book
        Articles
    %li
      = link_to woods_path do
        %i.icon-book
        Woods