%h3= link_to wood.name, wood
%p= wood.character
- if can? :update, wood
  .btn-group
    = link_to 'edit', edit_wood_path(wood), :class => 'btn btn-warning'
    %a.btn.btn-danger.dropdown-toggle{'data-toggle' => "dropdown", 'href' => '#'}
      %span.caret
    %ul.dropdown-menu
      %li= link_to 'Destncthroy', wood, :confirm => 'Are you sure?', :method => :delete if can? :destroy, wood