/*
This is the manifest file for all SASS files. By using the @import
directive, access to mixins, extensions, and variables is preserved.
*/

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
  //background-image: url('stripes_bg.gif')
}

.header_padding {
  height: 60px;
}
.footer_padding {
  height: 200px;
}
.label {
  text-transform: none;
}
hr {
  clear: both;
}
